
h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;                           /**centralizar texto*/ 
    color: black;                             /**cor da fonte*/
    margin: 0auto;                                  /**margem*/
    border: 5px solid black;                     /**borda*/
    width: 600px                                   /**largura da borda*/
}

body{
    background-color: darkgrey;                     /**cor de fundo*/
}

#formulario{
    margin-left: auto;                          /** margem esquerda*/
    margin-right: auto;                            /**margenm direita*/
    text-align: center;                         /**centralizar texto*/ 
    background-color: white;                    /**cor de fundo*/
    border: 5px solid black;                     /**borda*/
    width: 400px;                                  /**largura*/
    line-height: 2.0;                           /**altura da linha*/
    padding: 25px;                              /**Tamanho do quadro*/
    width: 550px                                  /**largura da borda*/
    
}

label {
    display: inline-block;
    width: 100px;                               /**largura da borda*/           
    text-align: right;                          /**alinhamento de texto*/

}
textarea{
    vertical-align: top;
}